<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Polymath Electron App Starter</title>
    </head>
    <body>
      <h1>Polymath Electron App Starter</h1>
      We are using node <script>document.write(process.versions.node)</script>,
      and Electron <script>document.write(process.versions.electron)</script>.
      <hr>
      <form action="#" id="ipcForm">
        URL:<br>
        <input type="text" name="firstname" id="firstname" value="Nobody">
        <input id="submit" type="submit" value="submit">
      </form>

      <p id="response"></p>

      <script src='render.js'></script>

    </body>
  </html>